<div class="form-row">
	{{#eq type compare="submit"}}
	<input type="{{type}}" name="{{name}}" id="{{name}}" value="{{label}}" class="button{{#if class}} {{class}}{{/if}}"{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}>
	{{/eq}}
	{{#eq type compare="button"}}
	<button name="{{name}}" id="{{#if id}}{{id}}{{else}}{{name}}{{/if}}" class="button{{#if class}} {{class}}{{/if}}"{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}>{{label}}</button>
	{{/eq}}
	{{#eq type compare="link"}}
	<a href="{{href}}" class="button{{#if class}} {{class}}{{/if}}" role="link">{{#if icon}}<span class="icon icon-general icon-{{icon}}"></span> {{/if}}{{label}}</a>
	{{/eq}}
	{{#eq type compare="follow"}}
	{{!-- custom --}}
	<button type="button" name="{{name}}" class="button{{#if class}} {{class}}{{/if}}"{{#eq disabled compare="true"}} disabled="disabled"{{/eq}} data-follow="{{label}}"></button>
	{{/eq}}
	{{#eq type compare="modal"}}
	{{!-- custom --}}
	<button type="button" name="{{name}}" class="button{{#if class}} {{class}}{{/if}}"{{#eq disabled compare="true"}} disabled="disabled"{{/eq}} data-toggle="modal" data-target="{{dataAttrTarget}}">{{label}}</button>
	{{/eq}}
	{{#eq type compare="hrefmodal"}}
	{{!-- custom --}}
	<a class="button{{#if class}} {{class}}{{/if}}"{{#eq disabled compare="true"}} disabled="disabled"{{/eq}} role="button" data-toggle="modal" data-target="{{dataAttrTarget}}">{{#if icon}}<span class="icon icon-general icon-{{icon}}"></span> {{/if}}{{label}}</a>
	{{/eq}}
	{{#eq type compare="data-attribute"}}
	<button type="button" name="{{name}}" class="button{{#if class}} {{class}}{{/if}}"{{#if dataAttr}} {{{dataAttr}}}{{/if}}>{{label}}</button>
	{{/eq}}
</div>
