<div class="form-row">
	{{#eq nolabel compare="true"}}
	{{else}}
	<label for="{{name}}">{{label}}</label>
	{{/eq}}
	{{#if txterror}}
	<div class="form-error">{{{txterror}}}</div>
	{{/if}}
	<div class="form-select" data-placeholder="{{placeholder}}">
		<select id="{{name}}" name="{{name}}" class="select{{#if txterror}} -error{{/if}}{{#if function}} {{function}}{{/if}} "{{#eq required compare="true"}} required="required"{{/eq}}{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}>
			{{#if placeholder}}
			<option value="0" selected="selected" disabled="disabled">{{placeholder}}</option>
			{{/if}}
			{{#each (split option ",") as |item|}}
			<option value="{{item}}"{{#eq selected compare=item}} selected="selected"{{/eq}}>{{item}}</option>
			{{/each}}
		</select>
	</div>
</div>
