<!DOCTYPE html>
<html lang="en">

{{>head font="link" mobile="true"}}

<body>
	<!-- s: root -->
	<div class="root">

		{{>header_mobile login=true}}
		
		<!-- grid -->
		<div class="grid">

			<div class="grid-flex">

				<div class="grid-col -nav">
					{{>nav_mobile active="Map"}}
				</div>

				<div class="grid-col -wide">

					{{>title section="true" title="Map"}}

					<!-- map -->
					<div class="map box">
						<div class="map-block" id="jsMaps"></div>
					</div>

					<!-- map box hover -->
					<div id="mapOverlay" class="map-overlay -show" data-overlay="true" aria-hidden="true">
						<div class="map-box-google">
							<div class="map-title">Istiqlal Mosque</div>
							<div class="map-rating">
								<div class="icon-rating">
									<div class="icon-general icon-star" data-rating="3.7"></div>
									<div class="icon-general icon-star-bg"></div>
								</div>
							</div>
							<div class="map-nearby">1.3 Km nearby</div>
							<div class="map-row">
								<div class="map-img">
									<span><img src="https://source.unsplash.com/3qPQtPoyqUg/500x333"></span>
								</div>
								<div class="map-col">
									<div class="map-lead">This mosque features a contemporary design & is the largest in Southeast Asia.</div>
									{{!-- <a href="#modalMap" class="button -primary -mapGl" data-toggle="modal">Explore</a> --}}
									<button id="modalMap1" type="button" data-toggle="modal" data-target="#modalMap" class="button -map">Explore</button>
								</div>
							</div>
							<div class="map-checkin">
								<div class="map-checkin-user">
									<div class="map-checkin-avatar"><img src="{{people.[0].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
									<div class="map-checkin-avatar"><img src="{{people.[1].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
									<div class="map-checkin-avatar"><img src="{{people.[2].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
									<div class="map-checkin-avatar"><img src="{{people.[3].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
									<div class="map-checkin-avatar"><img src="{{people.[4].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
								</div>
								<div class="map-checkin-text"><a href="#" role="button" data-toggle="modal" data-target="#modalPeopleCheckin">+82 More have been here</a></div>
							</div>
						</div>
					</div>

					<!-- map detail modal -->
					<div id="modalMap" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalMapExplore" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close" aria-hidden="true"></span></button>
								<div class="modal-body">
									<!-- modal content -->
									<div class="map-box-modal">
										{{>map_place_detail}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- place whos been here modal -->
					{{>place_whoshere}}

				</div>

			</div>

		</div>

	</div>
	<!-- e: root -->

{{>js mobile="true"}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJHXsHMriUDEQKsw5F6BNkNlGy572LhFw&callback=initMap&libraries=&v=weekly" defer ></script>
{{>dev_map}}
</body>
</html>
