<div class="map-img">
	<span><img src="https://source.unsplash.com/3qPQtPoyqUg/500x333"></span>
</div>
<div class="map-nearby">1.3 Km nearby</div>
<div class="map-title">Istiqlal Mosque</div>
<div class="map-rating">
	<div class="icon-rating">
		<div class="icon-general icon-star" data-rating="3.7"></div>
		<div class="icon-general icon-star-bg"></div>
	</div>
</div>
<div class="map-suptitle">4-Star Hotel</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-location"></span>
	</div>
	<div class="map-info-content">
		Jl. Melawai 7 No.6 - 8, RT.3/RW.1, Melawai, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12160
	</div>
</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-web"></span>
	</div>
	<div class="map-info-content">
		mysantika.com
	</div>
</div>
<div class="map-row">
	<div class="map-info-icon">
		<span class="icon-general icon-phone"></span>
	</div>
	<div class="map-info-content">
		021 7637789
	</div>
</div>
<div class="map-row">
	<div class="map-info-content">This mosque features a contemporary design & is the largest in Southeast Asia.</div>
</div>
<div class="map-checkin">
	<div class="map-checkin-user">
		<div class="map-checkin-avatar"><img src="{{people.[0].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
		<div class="map-checkin-avatar"><img src="{{people.[1].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
		<div class="map-checkin-avatar"><img src="{{people.[2].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
		<div class="map-checkin-avatar"><img src="{{people.[3].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
		<div class="map-checkin-avatar"><img src="{{people.[4].avatars.[0].url}}" alt="{{people.[0].first_name}}"></div>
	</div>
	<div class="map-checkin-text"><a href="#" role="button" data-toggle="modal" data-target="#modalPeopleCheckin">+82 More have been here</a></div>
</div>
