{{#each channel}}
{{#gte @index compare=../index_start}}
{{#gte @index compare=../index_end}}
{{else}}
<div class="notify-item{{#eq @index compare=0}} unread{{/eq}}">
	<a href="post-detail.html">
		<div class="notify-row">
			<div class="notify-img">
				<img src="{{avatars.[0].url}}" alt="{{avatars.first_name}}">
			</div>
			<div class="notify-col">
				<div class="notify-content">
					<span>{{first_name}} {{last_name}}</span> comment on your {{#if post}} post "{{truncate post 40}}..." {{else}}photos{{/if}}
				</div>
				<div class="notify-time">20 minutes ago</div>
			</div>
		</div>
	</a>
</div>
{{/gte}}
{{/gte}}
{{/each}}
